
$min: 320;
$max: 1366;

@mixin adaptive-value($property, $pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $max - $min;
    
    #{$property}: clamp(
        #{$mobSize}px,
        calc(#{$mobSize}px + #{$addSize} * (100vw - #{$min}px) / #{$maxWidth}),
        #{$pcSize}px
    );
}


@mixin adaptiv-font($pcSize, $mobSize) {
    @include adaptive-value(font-size, $pcSize, $mobSize);
}

@mixin adaptiv-padding-top($pcSize, $mobSize) {
    @include adaptive-value(padding-top, $pcSize, $mobSize);
}

@mixin adaptiv-padding-bottom($pcSize, $mobSize) {
    @include adaptive-value(padding-bottom, $pcSize, $mobSize);
}

@mixin adaptiv-padding-right($pcSize, $mobSize) {
    @include adaptive-value(padding-right, $pcSize, $mobSize);
}

@mixin adaptiv-padding-left($pcSize, $mobSize) {
    @include adaptive-value(padding-left, $pcSize, $mobSize);
}

@mixin adaptiv-margin-top($pcSize, $mobSize) {
    @include adaptive-value(margin-top, $pcSize, $mobSize);
}

@mixin adaptiv-margin-bottom($pcSize, $mobSize) {
    @include adaptive-value(margin-bottom, $pcSize, $mobSize);
}

@mixin adaptiv-margin-right($pcSize, $mobSize) {
    @include adaptive-value(margin-right, $pcSize, $mobSize);
}

@mixin adaptiv-margin-left($pcSize, $mobSize) {
    @include adaptive-value(margin-left, $pcSize, $mobSize);
}


@mixin adaptiv-top($pcSize, $mobSize) {
    @include adaptive-value(top, $pcSize, $mobSize);
}

@mixin adaptiv-bottom($pcSize, $mobSize) {
    @include adaptive-value(bottom, $pcSize, $mobSize);
}

@mixin adaptiv-right($pcSize, $mobSize) {
    @include adaptive-value(right, $pcSize, $mobSize);
}

@mixin adaptiv-left($pcSize, $mobSize) {
    @include adaptive-value(left, $pcSize, $mobSize);
}

@mixin adaptiv-line-height($pcSize, $mobSize) {
    @include adaptive-value(line-height, $pcSize, $mobSize);
}

@mixin adaptiv-letter-spacing($pcSize, $mobSize) {
    @include adaptive-value(letter-spacing, $pcSize, $mobSize);
}

